/.idea
/.settings
/.project
/.gitignore
/node_modules
/test
/.tmp
/.vscode

.DS_Store
*.db
*.bak
*.tmp
*.cmd
~*
package-lock.json
pnpm-lock.yaml
tsconfig.json
tsconfig.src.json
tslint.json

playwright.config.ts
rollup.config.mjs
.oxlintrc.json
coverage
src
