/.idea
/.settings
/.project
/.gitignore
/node_modules
/test
/.tmp
/.vscode

.DS_Store
*.db
*.bak
*.tmp
*.cmd
~*
package-lock.json
tsconfig.json
tsconfig.src.json
tslint.json

webpack.*.config.ts
karma.conf.ts

rollup.config.js
.eslint*